# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
.pnp
.pnp.js

# Testing
/coverage
/.nyc_output

# Output directories
/build
/dist
/out
/public

# Next.js
/.next/
/out/

# Nuxt.js
/.nuxt/
/dist/

# Serverless
/.serverless/

# Nest.js
/.nestjs/

# .idea (JetBrains IDEs)
.idea/

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# npm
npm-debug.log*
npm-debug.log

# Yarn
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled binary addons
**/*.node
